[submodule "cFS"]
	path = cFS
	url = https://github.com/traclabs/cFS.git
[submodule "brash"]
	path = brash
	url = https://github.com/traclabs/brash.git
[submodule "juicer"]
	path = juicer
	url = https://github.com/WindhoverLabs/juicer.git
